# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
target/

# eclipse
.settings/
.classpath
.project
logs/

# idea
.idea/
*.iml

### STS ###
.apt_generated
.factorypath
.springBeans

### IntelliJ IDEA ###
*.ipr
*.iws
.idea
bin/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

tmp/
*rebel.xml
*rebel-remote.xml
MyTestController.java

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
